/*V tomto súbore definujte vlastnosti štýlov pre všetky stránky vášho statického blogu pre zobrazenie na obrazovke.*/
/*Please, define here the style for all the pages of your static blog for displaying on screen.*/

:root {
	font-family: Helvetica, Roboto, sans-serif, monospace;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
	transition: color 150ms;
}

a:hover {
	color: #4ad7d1;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 1.4rem;
}

#index {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	min-height: 100vh;
}

nav {
	z-index: 1;
	font-size: 2em;
	position: fixed;
	background-color: #001730;
	color: white;
	display: flex;
	width: 100%;
}

nav > a {
	padding: 0.7rem 1.2rem 0.5rem 1.2rem;
	text-decoration: none;
	color: inherit;
	transition: color 150ms;
}

#titleContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#welcomeText {
	padding: 1em;
	border-radius: 1em;
	color: #fff;
	position: absolute;
	top: 45%;
	transform: translate(0, -45%);
	text-align: center;
}

#welcomeText h1 {
	font-size: 5em;
}

#welcomeText a {
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.3em;
	margin: 0.5em 0;
}

.jumpArrow {
	position: absolute;
	margin: 0 auto;
	bottom: 2%;

	left: 50%;
	transform: translate(-50%, 0);

	width: 100px;
	transition: width 150ms;
}
.jumpArrow:hover {
	width: 120px;
}

#backgroundImage {
	background-image: url('../fig/home/landing.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
	height: 100vh;
	padding: 0;
	margin: 0;
}

#about {
	padding: 5rem 0.8rem 1rem 0.8rem;
	font-size: 2.5em;
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#aboutP {
	margin: 1em 0 0 0;
	font-size: 0.5em;
	padding: 0 0 13% 0;
}

#aboutP p {
	text-align: justify;
	max-width: 80ch;
	margin: 1em auto 0 auto;
}

#email {
	font-size: 0.5em;
	text-decoration: underline;
}

#articles {
	background-color: #001730;
	color: #fff;

	list-style: none;
	min-height: calc(100vh - 75.32px);

	display: flex;
	flex-direction: column;

	padding: 4rem 1rem 0 1rem;
}

#articles > h2 {
	font-size: 2.4em;
	text-align: center;
	padding: 0.3em 0;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
	margin: 0 0 1em 0;
}

#articles ul {
	flex: 1;
	list-style: none;
}

#articles li {
	margin: 0 0 0.7em 0;
}

#articles a {
	font-size: 1.4em;
}

#arrowUp {
	transform: scaleY(-1);
	margin: 0 auto 1rem auto;

	left: 50%;
}

#arrowUp img {
	width: 100px;
	transition: width 150ms;
}

#arrowUp img:hover {
	width: 120px;
}

/* Classes from article pages */

#articlePage ol,
#articlePage ul {
	margin: 0 0 0 2rem;
}

#title {
	padding: 1.2em 0 0.3em;
	font-size: 3em;
	text-align: center;
}

#content {
	margin: 0 20rem;
}

#article {
	margin: 0 1rem 0 1rem;
	display: grid;
	grid-template-columns: 70% 30%;
}

#description {
	text-align: justify;
	grid-column: 1 / 3;
	margin-bottom: 2rem;
}

#changes h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

#changes ul {
	list-style: circle;
	margin: 0 0 0 1rem;
}

#images {
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@keyframes headerAnim {
	0% {
		color: #001730;
	}
	25% {
		color: chartreuse;
	}
	50% {
		color: blue;
	}
	75% {
		color: deeppink;
	}
	100% {
		color: #001730;
	}
}

#imagesHeader {
	margin-top: 1.5rem;
	text-align: center;
	animation: headerAnim 2s linear infinite;
}

#images picture {
	margin: 0.2rem 0.2rem;
	max-width: 90vw;
}

#downloads {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	padding: 1rem;
	display: flex;
	justify-content: center;
}

#downloads caption {
	margin: 1rem 0;
	font-size: 2rem;
}

#downloads table {
	border: 2px solid #001730;
	border-spacing: 1.2rem;
}

#downloads thead {
	padding: 10px;
	font-weight: bold;
}

#downloads a {
	text-decoration: underline;
}

#downloads tfoot {
	font-style: italic;
	text-decoration: underline;
}

footer {
	text-align: center;
	font-weight: bold;
	padding: 0 0 1rem 0;
}

/* Responsive settings */

@media (max-width: 800px) {
	body {
		font-size: 1.4rem;
	}

	.jumpArrow {
		width: 5rem;
	}

	.jumpArrow:hover {
		width: 7rem;
	}

	#arrowUp img {
		width: 5rem;
		transition: width 150ms;
	}

	#arrowUp img:hover {
		width: 7rem;
	}

	#welcomeText h1 {
		font-size: 3em;
	}

	#about {
		font-size: 2em;
	}

	/* article pages */

	#content {
		margin: 0 1rem;
	}

	#downloads table {
		border-spacing: 0.2rem;
	}

	#images picture {
		height: auto;
	}

	#article {
		display: initial;
	}
}

@media (max-width: 460px) {
	body {
		font-size: 1.2rem;
	}
}
