/*V tomto súbore definujte vlastnosti štýlov pre všetky stránky vášho statického blogu pre zobrazenie na obrazovke.*/
/*Please, define here the style for all the pages of your static blog for displaying on screen.*/

:root {
	--black: #001730;
	--white: #fff;
	--accent: #fe4a49;
	--accent-alt: #4ad7d1;
	font-family: Helvetica, sans-serif, monospace;
}

h1,
h2,
div,
ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	min-height: 100vh;
	font-size: 1.4rem;
}

nav {
	z-index: 1;
	font-size: 2em;
	position: fixed;
	background-color: var(--black);
	color: white;
	display: flex;
	width: 100%;
}

nav > a {
	padding: 0.7rem 1.2rem 0.5rem 1.2rem;
	text-decoration: none;
	color: inherit;
	transition: color 150ms;
}

nav > a:hover {
	color: var(--accent-alt);
}

#titleContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#welcomeText {
	padding: 1em;
	border-radius: 1em;
	color: var(--white);
	position: absolute;
	top: 45%;
	transform: translate(0, -45%);
	text-align: center;
}

#welcomeText h1 {
	font-size: 4em;
}

#welcomeText a {
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.8em;
	margin: 0.5em 0;
}

.jumpArrow {
	position: absolute;
	margin: 0 auto;
	bottom: 2%;

	left: 50%;
	transform: translate(-50%, 0);

	width: 100px;
	transition: width 150ms;
}

.jumpArrow:hover {
	width: 120px;
}

#backgroundImage {
	background-image: url('../fig/home/landing.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
	height: 100vh;
	padding: 0;
	margin: 0;
}

#about {
	padding: 5rem 0.8rem 1rem 0.8rem;
	font-size: 2.5em;
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#description {
	margin: 1em 0 0 0;
	font-size: 0.5em;
	padding: 0 0 13% 0;
}

#description p {
	text-align: justify;
	max-width: 80ch;
	margin: 1em auto 0 auto;
}

#articles {
	background-color: var(--black);
	color: var(--white);

	list-style: none;
	min-height: calc(100vh - 75.32px);

	display: flex;
	flex-direction: column;

	padding: 4rem 1rem 0 1rem;
}

#articles > h2 {
	font-size: 2.4em;
	text-align: center;
	padding: 0.3em 0;
	border-bottom: 2px solid var(--white);
	border-top: 2px solid var(--white);
	margin: 0 0 1em 0;
}

#articles ul {
	flex: 1;
	list-style: none;
}

#articles li {
	margin: 0 0 0.7em 0;
}

#articles a {
	font-size: 1.4em;
	color: var(--white);
	transition: color 150ms;
}

#articles a:hover {
	color: var(--accent-alt);
}

#arrowUp {
	transform: scaleY(-1);
	margin: 0 auto 1rem auto;

	left: 50%;
}

#arrowUp img {
	width: 100px;
	transition: width 150ms;
}

#arrowUp img:hover {
	width: 120px;
}

@media (max-width: 800px) {
	body {
		font-size: 1.4rem;
	}

	.jumpArrow {
		width: 5rem;
	}

	.jumpArrow:hover {
		width: 7rem;
	}

	#arrowUp img {
		width: 5rem;
		transition: width 150ms;
	}

	#arrowUp img:hover {
		width: 7rem;
	}

	#welcomeText h1 {
		font-size: 3em;
	}
}

@media (max-width: 460px) {
	body {
		font-size: 1.2rem;
	}
}
